body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

input{
    color: #fff;
    padding: 17px;
    outline: none;
    font-size:30px;
    font-family: "Bebas Neue",cursive;
    border-radius: 25%
}

.main{
    display: inline-block;
}

.num{
    width:64px;
    height: 67px;
}

.text{
    width: 160px;
    height: 25px;
    border-radius: 22px;
    letter-spacing:5px;
    text-align: center;
    margin-bottom:12px;
}

.text1{
    width: 24px;
    height: 26px;
    border-radius: 50px;
    letter-spacing:5px;
    text-align: center;
    margin-bottom:12px;
    cursor:pointer;
}
.maincolor{
    background-color: #0000;
}

.blue{
    background-color:#0cd0cd;
}

.pin{
    background-color:#cf1596;
}

.gre{
    background-color:#aad800;
}

.pur{
    background-color:#8c52ff;
}
.ora{
    background-color:#fcb707;
}